* {
        color: #e8ddcb;
	padding: 0;
	margin: 0;
	margin-left: 1.3rem;
}

.background_color {
	background-color: #033649;	
}

div img {
	filter: grayscale();
	position: absolute;
	width: 300px;
	height: 300px;
	top: 2.5%;
	left: 60%;
	margin-top: 10rem;
	margin-left: 10rem;
	border-radius: 290486px;
	border: 6px solid #ffffff;
	box-shadow: 2px 2px 10px 2px rgba(205, 179, 128);
	transition: filter 0.5s ease-in-out;
}

.container:hover img {
	filter: none;
}
.name {
	font-size: 2.25rem;
	line-height: 1.125;
	margin-bottom: 0.5rem;
	margin-top: 10%;	
}

.job {
	font-family: sans-serif;
	letter-spacing: 0.3em;
	color: #cdb380;
	font-size: 0.75rem;
}

.line {
	background-color: #036564;
	border: none;
	content: "";
	height: 1px;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	transform-origin: center left;
	width: 10rem;
}

.description {
	font-size: 1.5rem;
}

h3 {
	padding-top: 15px;
	padding-left: 15px;
}

p {
	padding-top: 15px;
	padding-left: 30px;
}

li {
	padding-top: 15px;
	margin-left: 3rem;
}

.contact {
	font-family: sans-serif;
	width: 300px;
	padding: 5px;
	margin-top: 2rem;
	margin-left: 2rem;
}

footer ul,
a {
	text-decoration: none;
	list-style-type: none;
}
