*{
    margin: 0;
    padding: 0;
}
body{
    padding-left: 2%;
    padding-right: 2%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;

}
img {
    width: 100px;
}

li {
display: inline;
padding: 10px;
}
.pgrey{
    border: 1px solid #8f8f8f;
    }

.pgrey div {
    background-color: #cccccc;
    height: 24px;
    width: 50%;
}

.submit{
    position: relative;
    bottom: 0%;
    width: 15%;
    padding: 2%;
    margin: 2%;
    border: 1px solid #ccc;
    }

   
   
      